<div class="container main-about-me-content">
        <div class="row">
            <div class = "col-sm-5 col-md-6">
                <img src="img/lesley.jpg" id="about-me-img"></img>
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <p>Hi! I’m Lesley. <i>With Alegria</i> started as a way of documenting my story as a millennial Latina deeply committed to family, culture, art, and community. Alegria, meaning joy in Spanish, is my last name and it’s with <i>much</i> alegria that I welcome you to my journey as a twenty something navigating life as a millennial Latina. My family’s Peruvian culture and my San Francisco upbringing inspire my food, style, and weekend adventures! As a result, I share my mama’s <b>recipes</b> influenced by Peruvian cuisine, creative <b>DIY projects</b> inspired by my papa’s craftsmanship, and <b>weekend trips</b> to my favorite Bay Area spots. You can follow more of my story on Instagram, Snapchat, and Twitter!</p>
            </div>
        </div>        
    </div>

    <hr>