<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br>
                <h1 id = "latest-posts-title">Latest Posts</h1>
                <div class="post-preview">
                    <h2 class="post-title">
                        What's <i>With Alegria</i>?
                    </h2>
                    <p class="post-content">
                        I was born and raised in San Francisco and left The Bay for the first time when I went to college. I graduated from Cornell University and in those four years, I learned a lot about society, culture, and the power of voice. After graduation, I moved back to San Francisco and taught Pre-K for two years before moving to Campbell, CA. I currently work at Braven, an education nonprofit that is working to help talented, diverse college students develop leadership and career-related skills. I am passionate about diversifying our nation’s talent pipeline and deeply believe in the power of community.
                    </p>
                </div>
                <hr>
               
            </div>
        </div>
</div>

<h2 class = "home-title"> Latest on Instagram </h2>
<br>

<div id="instafeed"></div>

<hr>