<div class="container">
    <div class="row">

        <!-- Latest Posts -->
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h1 id = "latest-posts-title">Latest Posts</h1>
            <div class="post-preview"
                <article ng-repeat = "post in postCollections">
                    <h2 class = "post-title">{{post.title}}</h2>
                    <div ng-bind-html="post.intro"></div>

                    <img src="public/img/{{post.images[0]}}" class = "post-image"></img>

                    <div ng-bind-html="post.postContent"></div>
                    <!-- <hr> -->
                </article>
            </div>
        </div>



        <!-- About Me Section -->
        <div class="col-xs-6 col-md-4">
            <div>
                <img src="public/img/lesley-about-me.JPG" id="about-me-img"></img>
            </div>
            <br>
            <div class = "about-me-content">
                <p>
                    ‘With Alegria' is a way of documenting my story as a millennial Latina deeply committed to community and cultura. Stay tuned and follow me on Instagram @lesleyalegria to stay connected!
                </p>
            </div>

            <ul class="list-inline text-center">
                <li class = "social-media-icon"> 
                    <a href="https://twitter.com/LesleyAlegria" target="_blank">
                        <span class="fa-stack fa-md">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class = "social-media-icon">
                    <a href="https://www.instagram.com/lesleyalegria/" target="_blank">
                        <span class="fa-stack fa-md">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>

            <div class = "line-break"></div>

            <h2 class = "home-title"> FOLLOW MY DAILY LIFE </h2>
            <br>

            <div id="instafeed"></div>
            <br>


        </div>
    </div>

    

</div>
