<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br>
                <h1 id = "latest-posts-title">Latest Posts</h1>

                <div class="post-preview"
                    <article ng-repeat = "post in postCollections">
                        <h2 class = "post-title">{{post.title}}</h2>
                        <p class="post-content">{{post.postContent}}</p>
                    </article>
                </div>

                <hr>
               
            </div>
        </div>
</div>

<h2 class = "home-title"> Latest on Instagram </h2>
<br>

<div id="instafeed"></div>

<hr>