
body{
  /*padding to the top in order to avoid the header from overlaying*/
  padding-top: 40px;
  padding-bottom: 70px;
}

.container-fluid{
  background-color: white;
}

.nav.navbar-nav li a:link {
  color: #C2925E;
  /*font-family: 'Caveat', cursive;*/
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
}

/*this is so that the navbar is centered*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

/*so that navbar content when collapsed is centered*/
.navbar .navbar-collapse {
  text-align: center;
}

#header-brand {
  color: #C2925E;
  /*font-family: 'Caveat', cursive;*/
  font-family: 'Dancing Script', cursive;
}

#header-logo{
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
}

.intro-header{
  /*background-color: #C2925E*/
  background-color: white;
}

.site-heading h2{
  font-family: 'Lato', sans-serif;
  /*font-size: 50pt;*/
  /*color: white;*/
  color: #0F161A;
  /*padding-top: 40pt;*/
  /*padding-bottom: 40pt;*/
  text-align: center;
}

.fa.fa-circle.fa-stack-2x{
  color: #0F161A;
}


#latest-posts-title{
  font-family: 'Lato', sans-serif;
  color: #C2925E;
}

.post-title{
  font-family: 'Lato', sans-serif;
}

.post-content{
  font-family: 'Lato', sans-serif;
}


/*ABOUT ME*/
#about-me-img {
  width:80%;
  height: auto;
  float: right;
  margin-right: 40pt;
}

.main-about-me-content{
  padding-top: 30pt;
}

.main-about-me-content p{
  color: #0F161A;
  font-family: 'Lato', sans-serif;
  padding-top: 35pt;
  line-height: 150%;
}


/*instagram feed formatting*/
#instafeed{
  text-align: center;
}

.home-title{
  text-align: center;
  font-family: 'Dancing Script', cursive;
}






